:root {
    --general--text: #312c27;
    --accent-text: #1f1711;
    --general--bg-color: #fff9f4;
    --accent-color: #ffa55c;
    --accent-bg: #ffe0cb;
    --transition: all .4s;
    --border-radius: 20px;
    --input-color: #ac907a;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--general--text);
    background: var(--general--bg-color);
    font-weight: 400;
}


.body--modal-opened {
    /* overflow: hidden; */
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: block;
    border-radius: 60px;
    width: 100%;
    padding: 5px 15px;
    background: var(--accent-color);
    font-weight: 500;
    line-height: 26px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 20;

    span,
    span::before,
    span::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 100px;
        background: var(--general--text);
        position: absolute;
        transition: var(--transition);
    }

    span::before {
        top: -8px;
    }

    span::after {
        top: 8px;
    }
}

.body--opened-menu {
    .burger-icon span {
        background: transparent;
    }

    .burger-icon span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .burger-icon span::after {
        top: 0;
        transform: rotate(-45deg);
    }
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000071;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6S;
}

.body--modal-opened {
    .modal {
        opacity: 1;
        visibility: visible;
    }

    overflow: hidden;
}

.modal__window {
    position: relative;
    max-width: 428px;
    background: var(--general--bg-color);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
}

.modal__cancel {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: var(--input-color);
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    font-family: "Gabriola";
    margin-bottom: 10px;
    color: var(--accent-text);
}

.modal__text {
    margin-bottom: 30px;
}

.field__input {
    background: #00000000;
    border: 1px solid var(--input-color);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    width: 100%;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input::placeholder {
    color: var(--input-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    display: block;
    position: relative;

    span {
        position: absolute;
        font-size: 11px;
        color: var(--input-color);
        left: 28px;
        top: 12px;
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }
}


/* =========================================================================================================== */

.header {
    background: url('../img/bg/up_bg.png') 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__logo {
    max-width: 174px;
    z-index: 11;

    img {
        width: 100%;
    }
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background: var(--accent-color);
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

/* ======================================================================== */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__info {
    max-width: 520px;
}

.hero__subtitle {
    line-height: 26px;
    color: #b197b2;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero__subtitle span {
    display: flex;
    align-items: center;
}

.hero__subtitle span::after {
    content: '';
    display: block;
    background: #b197b2;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    border-radius: 100%;
}

.hero__subtitle span:last-child:after {
    content: none;
}

.hero__title {
    font-weight: 400;
    font-size: 74px;
    line-height: 61px;
    color: var(--accent-text);
    font-family: 'Gabriola';
    margin-top: 20px;
}

.hero__text {
    max-width: 360px;
    margin-top: 30px;
}

.hero__btn {
    margin-top: 60px;
    max-width: 358px;
    transition: var(--transition);
}

.hero__btn:hover {
    background: #ff9138;
}

.hero__video {
    margin-right: 250px;
    position: relative;
}

.hero__video>img {
    width: 100%;
}

.hero__img-controll {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 11%;
    left: calc(100% - 39px);
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero__img-controll--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    border-radius: 50%;
    background: var(--accent-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    img {
        padding-left: 8.8%;
    }
}

.hero__img-button::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border: 1px var(--accent-color) solid;
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::before {
    opacity: 1
}

/* ================================================================*/

.main__about {
    padding: 140px 0;

}

.about {}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-controll {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 4.7%;
    left: 30px;
    padding: 15px 20px;
    gap: 10px;
    max-width: 300px;
    text-align: left;
    background: #957b97e6;
    color: var(--general--bg-color);
    border-radius: var(--border-radius);
}

.about__img-button {
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    border-radius: 50%;
    background: var(--general--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border: 1px var(--accent-color) solid;
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1
}

.about__info {}

.about__title {
    font-family: 'Gabriola';
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}


.about__text {
    margin-top: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    gap: 32px;
}

.cards__item {
    background: var(--accent-bg);
    padding: 29px 23.5px;
    border-radius: var(--border-radius);
    display: flex;
    gap: 15px;
}

.cards__img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--general--text);
    border-radius: 50%;
    flex-shrink: 0;
}

.cards__text {}















/* ================================================================ */







/* ================================================================ */

.footer {
    display: block;
    width: 100%;
    background: #ab8261;
    padding: 60px 10px;
    color: var(--general--bg-color);
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 15px;
}

.footer__col:first-child {
    margin-top: -30px;

    .footer__social {
        margin-top: 20px;
        display: flex;
        gap: 15px;
        line-height: 0;

        path {
            transition: var(--transition);
        }

        a:hover path {
            fill: var(--accent-color);
        }
    }
}

.footer__col:nth-child(2) {

    .footer__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: -5px;
    }

    .footer__link {
        padding: 5px 0;
    }
}

.footer__col:nth-child(3) {
    .footer__schedule:first-child {
        margin-bottom: 10px;
    }

    img {
        margin-right: 8px;
    }
}

.footer__col:last-child {
    display: flex;
    flex-direction: column;
    align-items: end;

    .footer__tell {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.6;
        text-transform: uppercase;
        margin-bottom: 47px;
        transition: var(--transition);
    }

    .footer__tell:hover {
        color: var(--accent-color);
    }



    .footer__rights {
        color: #dec5b1;
        display: flex;
        gap: 5px;
    }
}


/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */

@media (max-width: 1200px) {

    .hero__video {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-controll {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .footer__inner {
        grid-template: repeat(2, auto) / repeat(3, auto);
        justify-content: space-between;
    }

    .footer__col:nth-child(4) {
        grid-column: 1 / -1;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .cards {
        grid-column: 1/-1;
    }
}

@media (max-width: 900px) {
    nav {
        display: flex;
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general--bg-color);
        padding: 26vh 15px 30px;
        justify-content: center;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__link {
        padding: 8px 5px;
    }


    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .footer__inner {
        grid-template: none;
        gap: 10px;
    }

    .footer__social,
    .footer__inner {
        justify-content: center;
    }

    .footer__list {
        align-items: center;
    }

    .footer__col:nth-child(1) {
        margin-bottom: 30px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 30px;
    }

    .footer__col:nth-child(3) {
        text-align: center;
    }

}

@media (max-width: 800px) {
    .hero__video {
        display: none;
    }

    .hero__img-controll--mobile {
        display: flex;
    }

    .hero__inner {
        justify-content: center;
    }

    .hero__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ------------------------------- */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__info {
        text-align: center;
    }
}

@media (max-width:600px) {

    .main__about {
        padding: 60px 0 80px;
    }

    /* --------------- */

    .hero {
        padding-bottom: 80px;
    }

    .hero__title,
    .about__title {
        font-size: 12vw;
    }

    .cards {
        grid-template: none;
        gap: 15px;
    }

    .cards__item {
        padding: 10px 15px;
    }

    .about__img-controll {
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px 15px;
        max-width: none;
        border-radius: 0;
    }


}

@media (max-width: 450px) {
    .modal__window {
        padding: 0 15px 45px;
        margin: 0 10px;
    }

    .modal__img {
        width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 35px;
    }

}