:root {
    --general--text: #312c27;
    --accent-text: #1f1711;
    --general--bg-color: #fff9f4;
    --accent-color: #ffa55c;
    --accent-bg: #ffe0cb;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: var(--general--text);
    background: var(--general--bg-color);
    font-weight: 400;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: block;
    border-radius: 60px;
    width: 100%;
    padding: 5px 15px;
    background: var(--accent-color);
    font-weight: 500;
    line-height: 26px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 20;

    span,
    span::before,
    span::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 100px;
        background: var(--general--text);
        position: absolute;
        transition: all .4s;
    }

    span::before {
        top: -8px;
    }

    span::after {
        top: 8px;
    }
}

.body--opened-menu {
    .burger-icon span {
        background: transparent;
    }

    .burger-icon span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .burger-icon span::after {
        top: 0;
        transform: rotate(-45deg);
    }
}

/* =========================================================================================================== */

.header {
    background: url('../img/bg/up_bg.png') 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__logo {
    max-width: 174px;
    z-index: 11;

    img {
        width: 100%;
    }
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    background: var(--accent-color);
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;

    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

/* ======================================================================== */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__info {
    max-width: 520px;
}

.hero__subtitle {
    line-height: 26px;
    color: #b197b2;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero__subtitle span {
    display: flex;
    align-items: center;
}

.hero__subtitle span::after {
    content: '';
    display: block;
    background: #b197b2;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    border-radius: 100%;
}

.hero__subtitle span:last-child:after {
    content: none;
}

.hero__title {
    font-weight: 400;
    font-size: 74px;
    line-height: 61px;
    color: var(--accent-text);
    font-family: 'Gabriola';
    margin-top: 20px;
}

.hero__text {
    max-width: 360px;
    margin-top: 30px;
}

.hero__btn {
    margin-top: 60px;
    max-width: 358px;
    transition: all .4s;
}

.hero__btn:hover {
    background: #ff9138;
}

.hero__video {
    margin-right: 250px;
    position: relative;
}

.hero__video>img {
    width: 100%;
}

.hero__img-controll {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 11%;
    left: calc(100% - 39px);
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero__img-controll--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    border-radius: 50%;
    background: var(--accent-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    img {
        padding-left: 8.8%;
    }
}

.hero__img-button::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border: 1px var(--accent-color) solid;
    border-radius: 50%;

    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ===================================================================== */

@media (max-width: 1200px) {
    .hero__video {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-controll {
        position: static;
        max-width: none;
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    nav {
        display: flex;
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general--bg-color);
        padding: 26vh 15px 30px;
        justify-content: center;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__link {
        padding: 8px 5px;
    }


    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 800px) {
    .hero__video {
        display: none;
    }

    .hero__img-controll--mobile {
        display: flex;
    }

    .hero__inner {
        justify-content: center;
    }

    .hero__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }
}