body {
    background-color: rgb(31, 30, 30);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.h1 {
    font-size: 70px;
    margin-top: 20px;
    color: antiquewhite;
    position: relative;
}

h1::after,
h1::before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    border: 5px antiquewhite solid;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1::before {
    background-color: red;
    left: -150px
}

h1::after {
    background-color: blue;
    right: -150px;
}
